@charset "UTF-8"

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 97vh;
    width: 96vw;
    background-color: black;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    }
section#telefone{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /*posicionamento*/
   
   
    height: 440px;
    width: 218px;
    background: url("../imagens/frame-iphone\(peq\).png") no-repeat;
}
iframe#tela{
    position: relative;
    top: 56px;
    left: 16px;
    width: 187px;
    height: 330px;
}
section#redes-sociais {
    text-align: right;
}
section#redes-sociais img {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
  }
  section#redes-sociais img:hover {
    border: 2px solid rgba(0, 0, 0, 0.53);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
    transition: transform .3s, border 1s;
  }